nav.navbar .navbar-header .navbar-brand
{    padding-left: 30px !important;
    padding-right: 30px !important;
}
.navbar-default .navbar-brand{font-size: 30px;
    font-family: Brush Script MT;
}
.navbar-brand{
	
	float: left;
    height: 50px;
    padding: 15px 15px;
   font-size:28px !important;
    line-height: 20px;
}

.navbar-default .navbar-brand
 {
	color:#E58121 !important;}

	.navbar-nav>li>a {
		padding-top: 25px !important;
    padding-bottom: 5px !important;
	color:#E58121 !important;
	    display: block;
    margin-left: 40px;
	font-family:sans serif !important;
	font-size:16px;
}


 .btn
 { 	
	margin-left: 10px  !important;
	margin-right: 30px  !important;
	border: 1px solid transparent !important;
	font-size:12px !important;
    font-weight: 400 !important;
	color:white !important;
	
}

